

<table class="table">
    <thead>
       <tr>
           <th>Name</th>
           <th>Email</th>
           <th>Phone</th>
           <th>Date</th>
           <th>Department</th>
           <th>Doctor</th>
           <th>Message</th>
           <th>Actions</th>
       </tr>
    </thead>

    <tbody>
        <tr>
            
        </tr>
    </tbody>
</table>