


<table>
    
    <th>Name</th>
    <td>John</td>

    <th>Email</th>
    <td>john@gmail.com</td>

    <th>Phone</th>
    <td>+234</td>

    <th>Date</th>
    <td>23/09/2000</td>

    <th>Department</th>
    <td>Cardiology</td>

    <th>Doctor</th>
    <td>Steve Doe</td>

    <th>Message</th>
    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas molestias cum beatae omnis modi corporis officia expedita quibusdam ipsa hic. Exercitationem accusamus esse eius? Ipsum earum maiores soluta perferendis totam!</td>

    <th>Edit</th>
    <td></td>

    <th>Delete</th>
    <td></td>

</table>