<!--sidebar start-->
    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu">
          <li class="active">
            <a class="" href="/admin">
                          <i class="fa fa-dashboard"></i>
                          <span>Dashboard</span>
                      </a>
          </li>

           <li class="active">
            <a class="" href="/admin/users/profile/{{loggedUser.id}}">
                          <i class="fa fa-user"></i>
                          <span>Profile</span>
                      </a>
          </li>

        <li class="sub-menu">
                <a href="javascript:;" class="">
                            <i class="icon_document_alt"></i>
                            <span>Appointments</span>
                            <span class="menu-arrow arrow_carrot-right"></span>
                        </a>
                <ul class="sub">
                   {{#ifeq loggedUser.role 'Admin'}}
                      <li><a class="" href="/admin/appointment">All Appointments</a></li>
                      <li><a class="" href="/admin/appointment/cancelled">All Cancelled</a></li>
                    {{/ifeq}}
                    <li><a class="" href="/admin/appointment/{{loggedUser.id}}">My Appointments</a></li>
                    <li><a class="" href="/admin/appointment/create">Create Appointment</a></li>
                    <li><a class="" href="/admin/appointment/cancelled/{{loggedUser.id}}">My Cancelled</a></li>
                </ul>
            </li>

        {{#ifeq loggedUser.role 'Admin'}}
            <li class="sub-menu">
            <a href="javascript:;" class="">
                          <i class="icon_house_alt"></i>
                          <span>Departments</span>
                          <span class="menu-arrow arrow_carrot-right"></span>
                      </a>
            <ul class="sub">
              <li><a class="" href="/admin/department">All Departments</a></li>
              <li><a class="" href="/admin/department/create">Create Department</a></li>
              <li><a class="" href="/admin/department/dummy">Create Dummy</a></li>
            </ul>
          </li>


            <li class="sub-menu">
            <a href="javascript:;" class="">
                          <i class="icon_profile"></i>
                          <span>Doctors</span>
                          <span class="menu-arrow arrow_carrot-right"></span>
                      </a>
            <ul class="sub">
              <li><a class="" href="/admin/doctor">All Doctors</a></li>
              <li><a class="" href="/admin/doctor/create">Create Doctor</a></li>
              <li><a class="" href="/admin/doctor/dummy">Create Dummy</a></li>
            </ul>
          </li>


          <li class="sub-menu">
            <a href="javascript:;" class="">
                          <i class="fa fa-group"></i>
                          <span>Users</span>
                          <span class="menu-arrow arrow_carrot-right"></span>
                      </a>
            <ul class="sub">
              <li><a class="" href="/admin/users">All Users</a></li>
              <li><a class="" href="/admin/users/create">Create Users</a></li>
              <li><a class="" href="/admin/users/dummy">Create Dummy</a></li>
            </ul>
          </li>


           <li class="sub-menu">
            <a href="javascript:;" class="">
                          <i class="fa fa-ambulance"></i>
                          <span>Research Labs</span>
                          <span class="menu-arrow arrow_carrot-right"></span>
                      </a>
            <ul class="sub">
              <li><a class="" href="/admin/labs">All Research Labs</a></li>
              <li><a class="" href="/admin/labs/create">Create Research Lab</a></li>
              <li><a class="" href="/admin/labs/dummy">Create Dummy</a></li>
            </ul>
          </li>


            <li class="sub-menu">
            <a href="javascript:;" class="">
                          <i class="fa fa-photo"></i>
                          <span>Media</span>
                          <span class="menu-arrow arrow_carrot-right"></span>
                      </a>
            <ul class="sub">
              <li><a class="" href="form_component.html">All Media</a></li>
              <li><a class="" href="form_validation.html">Upload Media</a></li>
            </ul>
          </li>


          
            <li class="sub-menu">
            <a href="javascript:;" class="">
                          <i class="fa fa-gears"></i>
                          <span>Services</span>
                          <span class="menu-arrow arrow_carrot-right"></span>
                      </a>
            <ul class="sub">
              <li><a class="" href="/admin/service">All Services</a></li>
              <li><a class="" href="/admin/service/create">Create Service</a></li>
              <li><a class="" href="/admin/service/dummy">Create Dummy</a></li>
            </ul>
          </li>
        {{/ifeq}}


           <li class="sub-menu">
            <a href="javascript:;" class="">
                          <i class="fa fa-envelope"></i>
                          <span>Contacts</span>
                          <span class="menu-arrow arrow_carrot-right"></span>
                      </a>
            <ul class="sub">
              {{#ifeq loggedUser.role 'Admin'}}
              <li><a class="" href="form_component.html">All Contacts</a></li>
              <li><a class="" href="form_validation.html">Create Dummy</a></li>
              {{/ifeq}}
              <li><a class="" href="form_component.html">My Contacts</a></li>
            </ul>
          </li>

           <li class="sub-menu">
            <a href="javascript:;" class="">
                          <i class="fa fa-thumbs-up"></i>
                          <span>Testimonies</span>
                          <span class="menu-arrow arrow_carrot-right"></span>
                      </a>
            <ul class="sub">
              {{#ifeq loggedUser.role 'Admin'}}
                <li><a class="" href="form_component.html">All Testimonies</a></li>
                <li><a class="" href="form_validation.html">Create Dummy</a></li>
              {{/ifeq}}
              <li><a class="" href="form_component.html">My Testimonies</a></li>
              <li><a class="" href="form_validation.html">Create Testimony</a></li>
            </ul>
          </li>


            <li class="sub-menu">
            <a href="javascript:;" class="">
                          <i class="fa fa-question"></i>
                          <span>FAQs</span>
                          <span class="menu-arrow arrow_carrot-right"></span>
                      </a>
            <ul class="sub">
              {{#ifeq loggedUser.role 'Admin'}}
              <li><a class="" href="form_component.html">All FAQs</a></li>
              <li><a class="" href="form_validation.html">Create Dummy</a></li>
              {{/ifeq}}
              <li><a class="" href="form_validation.html">My FAQs</a></li>
              <li><a class="" href="form_validation.html">Create FAQ</a></li>
            </ul>
          </li>
            
        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->