<!--sidebar start-->
    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu">
          <li class="active">
            <a class="" href="/admin">
                          <i class="icon_house_alt"></i>
                          <span>Dashboard</span>
                      </a>
          </li>

           <li class="active">
            <a class="" href="/admin">
                          <i class="fa fa-user"></i>
                          <span>Profile</span>
                      </a>
          </li>

           <li class="sub-menu">
            <a href="javascript:;" class="">
                          <i class="icon_document_alt"></i>
                          <span>Reservations</span>
                          <span class="menu-arrow arrow_carrot-right"></span>
                      </a>
            <ul class="sub">
              <li><a class="" href="form_component.html">All Reservations</a></li>
              <li><a class="" href="form_validation.html">Create Reservation</a></li>
              <li><a class="" href="form_validation.html">Create Dummy</a></li>
            </ul>
          </li>

          <li class="sub-menu">
            <a href="javascript:;" class="">
                          <i class="fa fa-envelope"></i>
                          <span>Contacts</span>
                          <span class="menu-arrow arrow_carrot-right"></span>
                      </a>
            <ul class="sub">
              <li><a class="" href="form_component.html">All Contacts</a></li>
              <li><a class="" href="form_validation.html">Create Dummy</a></li>
            </ul>
          </li>

           <li class="sub-menu">
            <a href="javascript:;" class="">
                          <i class="fa fa-testtube"></i>
                          <span>Research Labs</span>
                          <span class="menu-arrow arrow_carrot-right"></span>
                      </a>
            <ul class="sub">
              <li><a class="" href="form_component.html">All Research Labs</a></li>
              <li><a class="" href="form_validation.html">Create Research Lab</a></li>
              <li><a class="" href="form_validation.html">Create Dummy</a></li>
            </ul>
          </li>


            <li class="sub-menu">
            <a href="javascript:;" class="">
                          <i class="fa fa-photo"></i>
                          <span>Media</span>
                          <span class="menu-arrow arrow_carrot-right"></span>
                      </a>
            <ul class="sub">
              <li><a class="" href="form_component.html">All Media</a></li>
              <li><a class="" href="form_validation.html">Upload Media</a></li>
            </ul>
          </li>

           <li class="sub-menu">
            <a href="javascript:;" class="">
                          <i class="icon_document_alt"></i>
                          <span>Testimonies</span>
                          <span class="menu-arrow arrow_carrot-right"></span>
                      </a>
            <ul class="sub">
              <li><a class="" href="form_component.html">All Testimonies</a></li>
              <li><a class="" href="form_validation.html">Create Testimony</a></li>
              <li><a class="" href="form_validation.html">Create Dummy</a></li>
            </ul>
          </li>


            <li class="sub-menu">
            <a href="javascript:;" class="">
                          <i class="fa fa-question"></i>
                          <span>FAQs</span>
                          <span class="menu-arrow arrow_carrot-right"></span>
                      </a>
            <ul class="sub">
              <li><a class="" href="form_component.html">All FAQs</a></li>
              <li><a class="" href="form_validation.html">Create FAQ</a></li>
              <li><a class="" href="form_validation.html">Create Dummy</a></li>
            </ul>
          </li>


            <li class="sub-menu">
            <a href="javascript:;" class="">
                          <i class="fa fa-gears"></i>
                          <span>Services</span>
                          <span class="menu-arrow arrow_carrot-right"></span>
                      </a>
            <ul class="sub">
              <li><a class="" href="form_component.html">All Services</a></li>
              <li><a class="" href="form_validation.html">Create Service</a></li>
              <li><a class="" href="form_validation.html">Create Dummy</a></li>
            </ul>
          </li>


            <li class="sub-menu">
            <a href="javascript:;" class="">
                          <i class="fa fa-house"></i>
                          <span>Departments</span>
                          <span class="menu-arrow arrow_carrot-right"></span>
                      </a>
            <ul class="sub">
              <li><a class="" href="form_component.html">All Departments</a></li>
              <li><a class="" href="form_validation.html">Create Department</a></li>
              <li><a class="" href="form_validation.html">Create Dummy</a></li>
            </ul>
          </li>


            <li class="sub-menu">
            <a href="javascript:;" class="">
                          <i class="fa fa-medicine"></i>
                          <span>Doctors</span>
                          <span class="menu-arrow arrow_carrot-right"></span>
                      </a>
            <ul class="sub">
              <li><a class="" href="form_component.html">All Doctors</a></li>
              <li><a class="" href="form_validation.html">Create Doctor</a></li>
              <li><a class="" href="form_validation.html">Create Dummy</a></li>
            </ul>
          </li>


            <li class="sub-menu">
            <a href="javascript:;" class="">
                          <i class="icon_document_alt"></i>
                          <span>Appointments</span>
                          <span class="menu-arrow arrow_carrot-right"></span>
                      </a>
            <ul class="sub">
              <li><a class="" href="form_component.html">All Appointments</a></li>
              <li><a class="" href="form_validation.html">Create Appointment</a></li>
              <li><a class="" href="form_validation.html">Create Dummy</a></li>
            </ul>
          </li>


            <li class="sub-menu">
            <a href="javascript:;" class="">
                          <i class="fa fa-group"></i>
                          <span>Users</span>
                          <span class="menu-arrow arrow_carrot-right"></span>
                      </a>
            <ul class="sub">
              <li><a class="" href="form_component.html">All Users/a></li>
              <li><a class="" href="form_validation.html">Create Users/a></li>
              <li><a class="" href="form_validation.html">Create Dummy</a></li>
            </ul>
          </li>

        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->