 <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">
      <div class="container">

        <div class="section-title">
          <h2>Gallery</h2>
          <p>Not just captures but reflections that demonstrates the love and compassion that lies behind the walls of nodeMedics. </p>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row no-gutters">
          {{#if medias}}
            {{#each medias}}
              <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                  <a href="/uploads/{{file}}" class="venobox" data-gall="gallery-item">
                    <img src="/uploads/{{file}}" alt="" class="img-fluid">
                  </a>
                </div>
              </div>
            {{/each}}  
          {{else}}
            <div class="alert alert-success center-align">No Media to display....................</div>
          {{/if}}

        </div>

      </div>
    </section><!-- End Gallery Section -->