 <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">
      <div class="container">

        <div class="section-title">
          <h2>Gallery</h2>
          <p>Not just captures but reflections that demonstrates the love and compassion that lies behind the walls of nodeMedics. </p>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row no-gutters">

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/home/img/gallery/gallery-1.jpg" class="venobox" data-gall="gallery-item">
                <img src="/home/img/gallery/gallery-1.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/home/img/gallery/gallery-2.jpg" class="venobox" data-gall="gallery-item">
                <img src="/home/img/gallery/gallery-2.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/home/img/gallery/gallery-3.jpg" class="venobox" data-gall="gallery-item">
                <img src="/home/img/gallery/gallery-3.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/home/img/gallery/gallery-4.jpg" class="venobox" data-gall="gallery-item">
                <img src="/home/img/gallery/gallery-4.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/home/img/gallery/gallery-5.jpg" class="venobox" data-gall="gallery-item">
                <img src="/home/img/gallery/gallery-5.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/home/img/gallery/gallery-6.jpg" class="venobox" data-gall="gallery-item">
                <img src="/home/img/gallery/gallery-6.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/home/img/gallery/gallery-7.jpg" class="venobox" data-gall="gallery-item">
                <img src="/home/img/gallery/gallery-7.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/home/img/gallery/gallery-8.jpg" class="venobox" data-gall="gallery-item">
                <img src="/home/img/gallery/gallery-8.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Gallery Section -->