 <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="/">nodeMedics</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="/">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#gallery">Gallary</a></li>
          <li><a href="#departments">Departments</a></li>
          <li><a href="#doctors">Doctors</a></li>
          <li><a href="#research">Labs</a></li>
          <li><a href="#contact">Contact</a></li>
          {{#if loggedUser}}
          <li class="drop-down"><a href="">{{loggedUser.name}}</a>
            <ul>
                <li><a href="/admin">Dashboard</a></li>
                <li><a href="/logout">Sign out</a></li>
            </ul>
        </li>

        {{else}}
        <li><a href="/login">Sign in</a></li>

        {{/if}}
        </ul>
      </nav><!-- .nav-menu -->

      <a href="#appointment" class="appointment-btn scrollto">Make an Appointment</a>
       

    </div>
  </header><!-- End Header -->